
@{
    ViewBag.Title = "KayitOl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br /><br />
            <div class="alert alert-danger">
                <strong>@WebProje.Resources.Kaynak.Hata</strong> @WebProje.Resources.Kaynak.Girdiginiz
                <br /><br />
                @Html.ActionLink(@WebProje.Resources.Kaynak.GeriDon, "Create", "KayitOl", null, new { @Class = "btn btn-primary" })
            </div>
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

